In [1]:
# Ryan Malani
import numpy
import pandas as pd
import os
data = pd.read_csv("../data"+os.sep+"stocks.csv")

In [2]:
data

,Symbol,Date,Open,High,Low,Close,Volume,Yesterday Volume,Tomorrows Percent Change
0,AAPL,2016-11-11,107.12,108.87,106.55,108.43,34143898,57134541,-2.508531
1,AAPL,2016-11-14,107.71,107.81,104.08,105.71,51175504,34143898,1.324378
2,AAPL,2016-11-15,106.57,107.68,106.16,107.11,32264510,51175504,2.688825
3,AAPL,2016-11-16,106.70,110.23,106.60,109.99,58840522,32264510,-0.036367
4,AAPL,2016-11-17,109.81,110.35,108.83,109.95,26964598,58840522,0.100045
...,...,...,...,...,...,...,...,...,...
24727,ZNGA,2017-11-01,3.91,3.91,3.78,3.84,8750379,9212959,1.041667
24728,ZNGA,2017-11-02,3.85,3.89,3.80,3.88,6604450,8750379,1.030928
24729,ZNGA,2017-11-03,3.88,3.97,3.86,3.92,12539443,6604450,-1.530612
24730,ZNGA,2017-11-06,3.93,3.94,3.86,3.86,8423778,12539443,-4.922280
24731,ZNGA,2017-11-07,3.89,3.89,3.63,3.67,28858832,8423778,4.359673

In [3]:
data.describe()

,Open,High,Low,Close,Volume,Yesterday Volume,Tomorrows Percent Change
count,24654.000000,24693.000000,24674.000000,24732.000000,2.473200e+04,2.473200e+04,24732.000000
mean,36.944010,37.276782,36.563219,36.915856,1.882816e+07,1.892666e+07,0.026733
std,40.819655,41.048858,40.533563,40.803994,1.851046e+07,1.882967e+07,2.512019
min,1.540000,1.590000,1.520000,1.530000,8.300700e+04,8.300700e+04,-28.585086
25%,10.190000,10.320000,10.060000,10.190000,8.825935e+06,8.833009e+06,-0.836018
50%,22.780000,23.090000,22.480000,22.760000,1.351971e+07,1.354360e+07,0.029216
75%,46.887500,47.440000,46.465000,46.800000,2.149240e+07,2.155920e+07,0.917472
max,293.200000,299.600000,268.600000,270.800000,3.209599e+08,3.209599e+08,36.285469

In [4]:
data.corr(numeric_only=True)

,Open,High,Low,Close,Volume,Yesterday Volume,Tomorrows Percent Change
Open,1.000000,0.999897,0.999860,0.999824,0.125109,0.124121,0.005104
High,0.999897,1.000000,0.999750,0.999863,0.124876,0.123329,0.004875
Low,0.999860,0.999750,1.000000,0.999907,0.124962,0.125062,0.005395
Close,0.999824,0.999863,0.999907,1.000000,0.125273,0.124499,0.005063
Volume,0.125109,0.124876,0.124962,0.125273,1.000000,0.799666,0.004495
Yesterday Volume,0.124121,0.123329,0.125062,0.124499,0.799666,1.000000,0.000171
Tomorrows Percent Change,0.005104,0.004875,0.005395,0.005063,0.004495,0.000171,1.000000

In [5]:
data['change_on_volume'] = (data['Close'] - data['Open']) / data['Volume']

data

,Symbol,Date,Open,High,Low,Close,Volume,Yesterday Volume,Tomorrows Percent Change,change_on_volume
0,AAPL,2016-11-11,107.12,108.87,106.55,108.43,34143898,57134541,-2.508531,3.836703e-08
1,AAPL,2016-11-14,107.71,107.81,104.08,105.71,51175504,34143898,1.324378,-3.908120e-08
2,AAPL,2016-11-15,106.57,107.68,106.16,107.11,32264510,51175504,2.688825,1.673666e-08
3,AAPL,2016-11-16,106.70,110.23,106.60,109.99,58840522,32264510,-0.036367,5.591385e-08
4,AAPL,2016-11-17,109.81,110.35,108.83,109.95,26964598,58840522,0.100045,5.191993e-09
...,...,...,...,...,...,...,...,...,...,...
24727,ZNGA,2017-11-01,3.91,3.91,3.78,3.84,8750379,9212959,1.041667,-7.999654e-09
24728,ZNGA,2017-11-02,3.85,3.89,3.80,3.88,6604450,8750379,1.030928,4.542392e-09
24729,ZNGA,2017-11-03,3.88,3.97,3.86,3.92,12539443,6604450,-1.530612,3.189934e-09
24730,ZNGA,2017-11-06,3.93,3.94,3.86,3.86,8423778,12539443,-4.922280,-8.309811e-09
24731,ZNGA,2017-11-07,3.89,3.89,3.63,3.67,28858832,8423778,4.359673,-7.623316e-09

In [6]:
data.corr(numeric_only=True)

,Open,High,Low,Close,Volume,Yesterday Volume,Tomorrows Percent Change,change_on_volume
Open,1.000000,0.999897,0.999860,0.999824,0.125109,0.124121,0.005104,-0.062922
High,0.999897,1.000000,0.999750,0.999863,0.124876,0.123329,0.004875,-0.059492
Low,0.999860,0.999750,1.000000,0.999907,0.124962,0.125062,0.005395,-0.055107
Close,0.999824,0.999863,0.999907,1.000000,0.125273,0.124499,0.005063,-0.051901
Volume,0.125109,0.124876,0.124962,0.125273,1.000000,0.799666,0.004495,0.015283
Yesterday Volume,0.124121,0.123329,0.125062,0.124499,0.799666,1.000000,0.000171,0.016073
Tomorrows Percent Change,0.005104,0.004875,0.005395,0.005063,0.004495,0.000171,1.000000,0.013175
change_on_volume,-0.062922,-0.059492,-0.055107,-0.051901,0.015283,0.016073,0.013175,1.000000